#link-authentication-element {
  padding-bottom: 2.5rem;
}

.p-Grid {
  padding: 2rem 0;
}

#card-panel {
  margin-top: 2rem;
}

#payment-element {
  margin-bottom: 2rem;
  .p-Grid {
    padding: 2rem 0;
  }
}
