@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
$body_font: "Quicksand", sans-serif;
$heading_font: "Poppins", sans-serif;
