.footer {
  color: $white_color;
  background: $heading_color;
}

.footer-top {
  border-bottom: 1px solid $border_color;
}

a.footer-logo {
  margin-bottom: 15px;
  display: inline-block;
}

.footer-top p {
  margin-bottom: 30px;
}

.social-network a {
  display: inline-block;
  margin: 0.5em;
}

.social-network .social-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  @include border-radius(50%);
  text-align: center;
  position: relative;
  z-index: 1;
  color: $white_color;
  @include box-shadow(0 0 0 2px $white_color);
  overflow: hidden;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.social-network .social-icon:after {
  display: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  @include border-radius(50%);
  content: "";
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.social-network .social-icon:before {
  speak: none;
  font-size: 25px;
  line-height: 50px;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.social-network .social-icon:hover {
  @extend .gredient-bg;
  color: $white_color;
  @include box-shadow(0 0 0 8px rgba(0, 0, 0, 0.05));
}

.social-network .social-icon:hover:before {
  @include animation(animationLeft 0.3s forwards);
}

.footer-copyright a {
  color: $white_color;
}
