.hero-area {
  color: $white_color;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  backface-visibility: hidden;
}

.full-height {
  min-height: 100vh;
}

.moveUpDown {
  @include animation-name(MoveUpDown);
  @include animation-duration(3s);
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate);
}

.animate-left {
  @include animation-name(moveInLeft);
  @include animation-duration(2s);
  @include animation-timing-function(ease-in);
}

.animate-right {
  @include animation-name(moveInRight);
  @include animation-duration(2s);
  @include animation-timing-function(ease-in);
}
//
//.hero-area img {
//  @extend .moveUpDown;
//}
//
//.hero-area h2 {
//  @extend .animate-left;
//  font-size: 45px;
//}
//
//.hero-area p {
//  @extend .animate-right;
//}
//
//.hero-area .btn-default {
//  @extend .animate-left;
//}
//
//.hero-area .btn-default.btn-default-outline {
//  @extend .animate-right;
//}

.hero-area .btn {
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero-area h1,
.hero-area h2,
.hero-area h3,
.hero-area h4,
.hero-area h5,
.hero-area h6 {
  color: $white_color;
}
