/*==============================
  Margins
================================*/

/*Margin All*/

.m-auto-all {
  margin: auto;
}

.m-0px {
  margin: 0;
}

.m-5px {
  margin: 5px;
}

.m-10px {
  margin: 10px;
}

.m-15px {
  margin: 15px;
}

.m-20px {
  margin: 20px;
}

.m-25px {
  margin: 25px;
}

.m-30px {
  margin: 30px;
}

.m-35px {
  margin: 35px;
}

.m-40px {
  margin: 40px;
}

.m-45px {
  margin: 45px;
}

.m-50px {
  margin: 50px;
}

.m-55px {
  margin: 55px;
}

.m-60px {
  margin: 60px;
}

.m-65px {
  margin: 65px;
}

.m-70px {
  margin: 70px;
}

.m-75px {
  margin: 75px;
}

.m-80px {
  margin: 80px;
}

.m-85px {
  margin: 85px;
}

.m-90px {
  margin: 90px;
}

.m-95px {
  margin: 95px;
}

.m-100px {
  margin: 100px;
}

/*Margin top buttom*/

.m-0px-tb {
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-5px-tb {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-10px-tb {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-15px-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-20px-tb {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-25px-tb {
  margin-top: 25px;
  margin-bottom: 25px;
}

.m-30px-tb {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-35px-tb {
  margin-top: 35px;
  margin-bottom: 35px;
}

.m-40px-tb {
  margin-top: 40px;
  margin-bottom: 40px;
}

.m-45px-tb {
  margin-top: 45px;
  margin-bottom: 45px;
}

.m-50px-tb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-55px-tb {
  margin-top: 55px;
  margin-bottom: 55px;
}

.m-60px-tb {
  margin-top: 60px;
  margin-bottom: 60px;
}

.m-65px-tb {
  margin-top: 65px;
  margin-bottom: 65px;
}

.m-70px-tb {
  margin-top: 70px;
  margin-bottom: 70px;
}

.m-75px-tb {
  margin-top: 75px;
  margin-bottom: 75px;
}

.m-80px-tb {
  margin-top: 80px;
  margin-bottom: 80px;
}

.m-85px-tb {
  margin-top: 85px;
  margin-bottom: 85px;
}

.m-90px-tb {
  margin-top: 90px;
  margin-bottom: 90px;
}

.m-95px-tb {
  margin-top: 95px;
  margin-bottom: 95px;
}

.m-100px-tb {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Margin left right*/

.m-0px-lr {
  margin-left: 0px;
  margin-right: 0px;
}

.m-5px-lr {
  margin-left: 5px;
  margin-right: 5px;
}

.m-10px-lr {
  margin-left: 10px;
  margin-right: 10px;
}

.m-15px-lr {
  margin-left: 15px;
  margin-right: 15px;
}

.m-20px-lr {
  margin-left: 20px;
  margin-right: 20px;
}

.m-25px-lr {
  margin-left: 25px;
  margin-right: 25px;
}

.m-30px-lr {
  margin-left: 30px;
  margin-right: 30px;
}

.m-35px-lr {
  margin-left: 35px;
  margin-right: 35px;
}

.m-40px-lr {
  margin-left: 40px;
  margin-right: 40px;
}

.m-45px-lr {
  margin-left: 45px;
  margin-right: 45px;
}

.m-50px-lr {
  margin-left: 50px;
  margin-right: 50px;
}

.m-55px-lr {
  margin-left: 55px;
  margin-right: 55px;
}

.m-60px-lr {
  margin-left: 60px;
  margin-right: 60px;
}

.m-65px-lr {
  margin-left: 65px;
  margin-right: 65px;
}

.m-70px-lr {
  margin-left: 70px;
  margin-right: 70px;
}

.m-75px-lr {
  margin-left: 75px;
  margin-right: 75px;
}

.m-80px-lr {
  margin-left: 80px;
  margin-right: 80px;
}

.m-85px-lr {
  margin-left: 85px;
  margin-right: 85px;
}

.m-90px-lr {
  margin-left: 90px;
  margin-right: 90px;
}

.m-95px-lr {
  margin-left: 95px;
  margin-right: 95px;
}

.m-100px-lr {
  margin-left: 100px;
  margin-right: 100px;
}

/*Margin top*/

.m-0px-t {
  margin-top: 0px;
}

.m-5px-t {
  margin-top: 5px;
}

.m-10px-t {
  margin-top: 10px;
}

.m-15px-t {
  margin-top: 15px;
}

.m-20px-t {
  margin-top: 20px;
}

.m-25px-t {
  margin-top: 25px;
}

.m-30px-t {
  margin-top: 30px;
}

.m-35px-t {
  margin-top: 35px;
}

.m-40px-t {
  margin-top: 40px;
}

.m-45px-t {
  margin-top: 45px;
}

.m-50px-t {
  margin-top: 50px;
}

.m-55px-t {
  margin-top: 55px;
}

.m-60px-t {
  margin-top: 60px;
}

.m-65px-t {
  margin-top: 65px;
}

.m-70px-t {
  margin-top: 70px;
}

.m-75px-t {
  margin-top: 75px;
}

.m-80px-t {
  margin-top: 80px;
}

.m-85px-t {
  margin-top: 85px;
}

.m-90px-t {
  margin-top: 90px;
}

.m-95px-t {
  margin-top: 95px;
}

.m-100px-t {
  margin-top: 100px;
}

/*Margin Bottom*/

.m-0px-b {
  margin-bottom: 0px;
}

.m-5px-b {
  margin-bottom: 5px;
}

.m-10px-b {
  margin-bottom: 10px;
}

.m-15px-b {
  margin-bottom: 15px;
}

.m-20px-b {
  margin-bottom: 20px;
}

.m-25px-b {
  margin-bottom: 25px;
}

.m-30px-b {
  margin-bottom: 30px;
}

.m-35px-b {
  margin-bottom: 35px;
}

.m-40px-b {
  margin-bottom: 40px;
}

.m-45px-b {
  margin-bottom: 45px;
}

.m-50px-b {
  margin-bottom: 50px;
}

.m-55px-b {
  margin-bottom: 55px;
}

.m-60px-b {
  margin-bottom: 60px;
}

.m-65px-b {
  margin-bottom: 65px;
}

.m-70px-b {
  margin-bottom: 70px;
}

.m-75px-b {
  margin-bottom: 75px;
}

.m-80px-b {
  margin-bottom: 80px;
}

.m-85px-b {
  margin-bottom: 85px;
}

.m-90px-b {
  margin-bottom: 90px;
}

.m-95px-b {
  margin-bottom: 95px;
}

.m-100px-b {
  margin-bottom: 100px;
}

/*Margin Left*/

.m-0px-l {
  margin-left: 0px;
}

.m-5px-l {
  margin-left: 5px;
}

.m-10px-l {
  margin-left: 10px;
}

.m-15px-l {
  margin-left: 15px;
}

.m-20px-l {
  margin-left: 20px;
}

.m-25px-l {
  margin-left: 25px;
}

.m-30px-l {
  margin-left: 30px;
}

.m-35px-l {
  margin-left: 35px;
}

.m-40px-l {
  margin-left: 40px;
}

.m-45px-l {
  margin-left: 45px;
}

.m-50px-l {
  margin-left: 50px;
}

.m-55px-l {
  margin-left: 55px;
}

.m-60px-l {
  margin-left: 60px;
}

.m-65px-l {
  margin-left: 65px;
}

.m-70px-l {
  margin-left: 70px;
}

.m-75px-l {
  margin-left: 75px;
}

.m-80px-l {
  margin-left: 80px;
}

.m-85px-l {
  margin-left: 85px;
}

.m-90px-l {
  margin-left: 90px;
}

.m-95px-l {
  margin-left: 95px;
}

.m-100px-l {
  margin-left: 100px;
}

/*Margin right*/

.m-0px-r {
  margin-right: 0px;
}

.m-5px-r {
  margin-right: 5px;
}

.m-10px-r {
  margin-right: 10px;
}

.m-15px-r {
  margin-right: 15px;
}

.m-20px-r {
  margin-right: 20px;
}

.m-25px-r {
  margin-right: 25px;
}

.m-30px-r {
  margin-right: 30px;
}

.m-35px-r {
  margin-right: 35px;
}

.m-40px-r {
  margin-right: 40px;
}

.m-45px-r {
  margin-right: 45px;
}

.m-50px-r {
  margin-right: 50px;
}

.m-55px-r {
  margin-right: 55px;
}

.m-60px-r {
  margin-right: 60px;
}

.m-65px-r {
  margin-right: 65px;
}

.m-70px-r {
  margin-right: 70px;
}

.m-75px-r {
  margin-right: 75px;
}

.m-80px-r {
  margin-right: 80px;
}

.m-85px-r {
  margin-right: 85px;
}

.m-90px-r {
  margin-right: 90px;
}

.m-95px-r {
  margin-right: 95px;
}

.m-100px-r {
  margin-right: 100px;
}

@media (max-width: 1200px) {
  /*Margin All*/
  .lg-m-0px {
    margin: 0;
  }
  .lg-m-5px {
    margin: 5px;
  }
  .lg-m-10px {
    margin: 10px;
  }
  .lg-m-15px {
    margin: 15px;
  }
  .lg-m-20px {
    margin: 20px;
  }
  .lg-m-25px {
    margin: 25px;
  }
  .lg-m-30px {
    margin: 30px;
  }
  .lg-m-35px {
    margin: 35px;
  }
  .lg-m-40px {
    margin: 40px;
  }
  .lg-m-45px {
    margin: 45px;
  }
  .lg-m-50px {
    margin: 50px;
  }
  .lg-m-55px {
    margin: 55px;
  }
  .lg-m-60px {
    margin: 60px;
  }
  .lg-m-65px {
    margin: 65px;
  }
  .lg-m-70px {
    margin: 70px;
  }
  .lg-m-75px {
    margin: 75px;
  }
  .lg-m-80px {
    margin: 80px;
  }
  .lg-m-85px {
    margin: 85px;
  }
  .lg-m-90px {
    margin: 90px;
  }
  .lg-m-95px {
    margin: 95px;
  }
  .lg-m-100px {
    margin: 100px;
  }
  /*Margin top buttom*/
  .lg-m-0px-tb {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .lg-m-5px-tb {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .lg-m-10px-tb {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .lg-m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .lg-m-20px-tb {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .lg-m-25px-tb {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .lg-m-30px-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .lg-m-35px-tb {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .lg-m-40px-tb {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .lg-m-45px-tb {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .lg-m-50px-tb {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .lg-m-55px-tb {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .lg-m-60px-tb {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .lg-m-65px-tb {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .lg-m-70px-tb {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .lg-m-75px-tb {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .lg-m-80px-tb {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .lg-m-85px-tb {
    margin-top: 85px;
    margin-bottom: 85px;
  }
  .lg-m-90px-tb {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .lg-m-95px-tb {
    margin-top: 95px;
    margin-bottom: 95px;
  }
  .lg-m-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  /*Margin left right*/
  .lg-m-0px-lr {
    margin-left: 0px;
    margin-right: 0px;
  }
  .lg-m-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
  }
  .lg-m-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
  }
  .lg-m-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
  }
  .lg-m-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lg-m-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
  }
  .lg-m-30px-lr {
    margin-left: 30px;
    margin-right: 30px;
  }
  .lg-m-35px-lr {
    margin-left: 35px;
    margin-right: 35px;
  }
  .lg-m-40px-lr {
    margin-left: 40px;
    margin-right: 40px;
  }
  .lg-m-45px-lr {
    margin-left: 45px;
    margin-right: 45px;
  }
  .lg-m-50px-lr {
    margin-left: 50px;
    margin-right: 50px;
  }
  .lg-m-55px-lr {
    margin-left: 55px;
    margin-right: 55px;
  }
  .lg-m-60px-lr {
    margin-left: 60px;
    margin-right: 60px;
  }
  .lg-m-65px-lr {
    margin-left: 65px;
    margin-right: 65px;
  }
  .lg-m-70px-lr {
    margin-left: 70px;
    margin-right: 70px;
  }
  .lg-m-75px-lr {
    margin-left: 75px;
    margin-right: 75px;
  }
  .lg-m-80px-lr {
    margin-left: 80px;
    margin-right: 80px;
  }
  .lg-m-85px-lr {
    margin-left: 85px;
    margin-right: 85px;
  }
  .lg-m-90px-lr {
    margin-left: 90px;
    margin-right: 90px;
  }
  .lg-m-95px-lr {
    margin-left: 95px;
    margin-right: 95px;
  }
  .lg-m-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
  }
  /*Margin top*/
  .lg-m-0px-t {
    margin-top: 0px;
  }
  .lg-m-5px-t {
    margin-top: 5px;
  }
  .lg-m-10px-t {
    margin-top: 10px;
  }
  .lg-m-15px-t {
    margin-top: 15px;
  }
  .lg-m-20px-t {
    margin-top: 20px;
  }
  .lg-m-25px-t {
    margin-top: 25px;
  }
  .lg-m-30px-t {
    margin-top: 30px;
  }
  .lg-m-35px-t {
    margin-top: 35px;
  }
  .lg-m-40px-t {
    margin-top: 40px;
  }
  .lg-m-45px-t {
    margin-top: 45px;
  }
  .lg-m-50px-t {
    margin-top: 50px;
  }
  .lg-m-55px-t {
    margin-top: 55px;
  }
  .lg-m-60px-t {
    margin-top: 60px;
  }
  .lg-m-65px-t {
    margin-top: 65px;
  }
  .lg-m-70px-t {
    margin-top: 70px;
  }
  .lg-m-75px-t {
    margin-top: 75px;
  }
  .lg-m-80px-t {
    margin-top: 80px;
  }
  .lg-m-85px-t {
    margin-top: 85px;
  }
  .lg-m-90px-t {
    margin-top: 90px;
  }
  .lg-m-95px-t {
    margin-top: 95px;
  }
  .lg-m-100px-t {
    margin-top: 100px;
  }
  /*Margin Bottom*/
  .lg-m-0px-b {
    margin-bottom: 0px;
  }
  .lg-m-5px-b {
    margin-bottom: 5px;
  }
  .lg-m-10px-b {
    margin-bottom: 10px;
  }
  .lg-m-15px-b {
    margin-bottom: 15px;
  }
  .lg-m-20px-b {
    margin-bottom: 20px;
  }
  .lg-m-25px-b {
    margin-bottom: 25px;
  }
  .lg-m-30px-b {
    margin-bottom: 30px;
  }
  .lg-m-35px-b {
    margin-bottom: 35px;
  }
  .lg-m-40px-b {
    margin-bottom: 40px;
  }
  .lg-m-45px-b {
    margin-bottom: 45px;
  }
  .lg-m-50px-b {
    margin-bottom: 50px;
  }
  .lg-m-55px-b {
    margin-bottom: 55px;
  }
  .lg-m-60px-b {
    margin-bottom: 60px;
  }
  .lg-m-65px-b {
    margin-bottom: 65px;
  }
  .lg-m-70px-b {
    margin-bottom: 70px;
  }
  .lg-m-75px-b {
    margin-bottom: 75px;
  }
  .lg-m-80px-b {
    margin-bottom: 80px;
  }
  .lg-m-85px-b {
    margin-bottom: 85px;
  }
  .lg-m-90px-b {
    margin-bottom: 90px;
  }
  .lg-m-95px-b {
    margin-bottom: 95px;
  }
  .lg-m-100px-b {
    margin-bottom: 100px;
  }
  /*Margin Left*/
  .lg-m-0px-l {
    margin-left: 0px;
  }
  .lg-m-5px-l {
    margin-left: 5px;
  }
  .lg-m-10px-l {
    margin-left: 10px;
  }
  .lg-m-15px-l {
    margin-left: 15px;
  }
  .lg-m-20px-l {
    margin-left: 20px;
  }
  .lg-m-25px-l {
    margin-left: 25px;
  }
  .lg-m-30px-l {
    margin-left: 30px;
  }
  .lg-m-35px-l {
    margin-left: 35px;
  }
  .lg-m-40px-l {
    margin-left: 40px;
  }
  .lg-m-45px-l {
    margin-left: 45px;
  }
  .lg-m-50px-l {
    margin-left: 50px;
  }
  .lg-m-55px-l {
    margin-left: 55px;
  }
  .lg-m-60px-l {
    margin-left: 60px;
  }
  .lg-m-65px-l {
    margin-left: 65px;
  }
  .lg-m-70px-l {
    margin-left: 70px;
  }
  .lg-m-75px-l {
    margin-left: 75px;
  }
  .lg-m-80px-l {
    margin-left: 80px;
  }
  .lg-m-85px-l {
    margin-left: 85px;
  }
  .lg-m-90px-l {
    margin-left: 90px;
  }
  .lg-m-95px-l {
    margin-left: 95px;
  }
  .lg-m-100px-l {
    margin-left: 100px;
  }
  /*Margin right*/
  .lg-m-0px-r {
    margin-right: 0px;
  }
  .lg-m-5px-r {
    margin-right: 5px;
  }
  .lg-m-10px-r {
    margin-right: 10px;
  }
  .lg-m-15px-r {
    margin-right: 15px;
  }
  .lg-m-20px-r {
    margin-right: 20px;
  }
  .lg-m-25px-r {
    margin-right: 25px;
  }
  .lg-m-30px-r {
    margin-right: 30px;
  }
  .lg-m-35px-r {
    margin-right: 35px;
  }
  .lg-m-40px-r {
    margin-right: 40px;
  }
  .lg-m-45px-r {
    margin-right: 45px;
  }
  .lg-m-50px-r {
    margin-right: 50px;
  }
  .lg-m-55px-r {
    margin-right: 55px;
  }
  .lg-m-60px-r {
    margin-right: 60px;
  }
  .lg-m-65px-r {
    margin-right: 65px;
  }
  .lg-m-70px-r {
    margin-right: 70px;
  }
  .lg-m-75px-r {
    margin-right: 75px;
  }
  .lg-m-80px-r {
    margin-right: 80px;
  }
  .lg-m-85px-r {
    margin-right: 85px;
  }
  .lg-m-90px-r {
    margin-right: 90px;
  }
  .lg-m-95px-r {
    margin-right: 95px;
  }
  .lg-m-100px-r {
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  /*Margin All*/
  .md-m-0px {
    margin: 0;
  }
  .md-m-5px {
    margin: 5px;
  }
  .md-m-10px {
    margin: 10px;
  }
  .md-m-15px {
    margin: 15px;
  }
  .md-m-20px {
    margin: 20px;
  }
  .md-m-25px {
    margin: 25px;
  }
  .md-m-30px {
    margin: 30px;
  }
  .md-m-35px {
    margin: 35px;
  }
  .md-m-40px {
    margin: 40px;
  }
  .md-m-45px {
    margin: 45px;
  }
  .md-m-50px {
    margin: 50px;
  }
  .md-m-55px {
    margin: 55px;
  }
  .md-m-60px {
    margin: 60px;
  }
  .md-m-65px {
    margin: 65px;
  }
  .md-m-70px {
    margin: 70px;
  }
  .md-m-75px {
    margin: 75px;
  }
  .md-m-80px {
    margin: 80px;
  }
  .md-m-85px {
    margin: 85px;
  }
  .md-m-90px {
    margin: 90px;
  }
  .md-m-95px {
    margin: 95px;
  }
  .md-m-100px {
    margin: 100px;
  }
  /*Margin top buttom*/
  .md-m-0px-tb {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .md-m-5px-tb {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .md-m-10px-tb {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .md-m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .md-m-20px-tb {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .md-m-25px-tb {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .md-m-30px-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .md-m-35px-tb {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .md-m-40px-tb {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .md-m-45px-tb {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .md-m-50px-tb {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .md-m-55px-tb {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .md-m-60px-tb {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .md-m-65px-tb {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .md-m-70px-tb {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .md-m-75px-tb {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .md-m-80px-tb {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .md-m-85px-tb {
    margin-top: 85px;
    margin-bottom: 85px;
  }
  .md-m-90px-tb {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .md-m-95px-tb {
    margin-top: 95px;
    margin-bottom: 95px;
  }
  .md-m-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  /*Margin left right*/
  .md-m-0px-lr {
    margin-left: 0px;
    margin-right: 0px;
  }
  .md-m-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
  }
  .md-m-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
  }
  .md-m-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
  }
  .md-m-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .md-m-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
  }
  .md-m-30px-lr {
    margin-left: 30px;
    margin-right: 30px;
  }
  .md-m-35px-lr {
    margin-left: 35px;
    margin-right: 35px;
  }
  .md-m-40px-lr {
    margin-left: 40px;
    margin-right: 40px;
  }
  .md-m-45px-lr {
    margin-left: 45px;
    margin-right: 45px;
  }
  .md-m-50px-lr {
    margin-left: 50px;
    margin-right: 50px;
  }
  .md-m-55px-lr {
    margin-left: 55px;
    margin-right: 55px;
  }
  .md-m-60px-lr {
    margin-left: 60px;
    margin-right: 60px;
  }
  .md-m-65px-lr {
    margin-left: 65px;
    margin-right: 65px;
  }
  .md-m-70px-lr {
    margin-left: 70px;
    margin-right: 70px;
  }
  .md-m-75px-lr {
    margin-left: 75px;
    margin-right: 75px;
  }
  .md-m-80px-lr {
    margin-left: 80px;
    margin-right: 80px;
  }
  .md-m-85px-lr {
    margin-left: 85px;
    margin-right: 85px;
  }
  .md-m-90px-lr {
    margin-left: 90px;
    margin-right: 90px;
  }
  .md-m-95px-lr {
    margin-left: 95px;
    margin-right: 95px;
  }
  .md-m-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
  }
  /*Margin top*/
  .md-m-0px-t {
    margin-top: 0px;
  }
  .md-m-5px-t {
    margin-top: 5px;
  }
  .md-m-10px-t {
    margin-top: 10px;
  }
  .md-m-15px-t {
    margin-top: 15px;
  }
  .md-m-20px-t {
    margin-top: 20px;
  }
  .md-m-25px-t {
    margin-top: 25px;
  }
  .md-m-30px-t {
    margin-top: 30px;
  }
  .md-m-35px-t {
    margin-top: 35px;
  }
  .md-m-40px-t {
    margin-top: 40px;
  }
  .md-m-45px-t {
    margin-top: 45px;
  }
  .md-m-50px-t {
    margin-top: 50px;
  }
  .md-m-55px-t {
    margin-top: 55px;
  }
  .md-m-60px-t {
    margin-top: 60px;
  }
  .md-m-65px-t {
    margin-top: 65px;
  }
  .md-m-70px-t {
    margin-top: 70px;
  }
  .md-m-75px-t {
    margin-top: 75px;
  }
  .md-m-80px-t {
    margin-top: 80px;
  }
  .md-m-85px-t {
    margin-top: 85px;
  }
  .md-m-90px-t {
    margin-top: 90px;
  }
  .md-m-95px-t {
    margin-top: 95px;
  }
  .md-m-100px-t {
    margin-top: 100px;
  }
  /*Margin Bottom*/
  .md-m-0px-b {
    margin-bottom: 0px;
  }
  .md-m-5px-b {
    margin-bottom: 5px;
  }
  .md-m-10px-b {
    margin-bottom: 10px;
  }
  .md-m-15px-b {
    margin-bottom: 15px;
  }
  .md-m-20px-b {
    margin-bottom: 20px;
  }
  .md-m-25px-b {
    margin-bottom: 25px;
  }
  .md-m-30px-b {
    margin-bottom: 30px;
  }
  .md-m-35px-b {
    margin-bottom: 35px;
  }
  .md-m-40px-b {
    margin-bottom: 40px;
  }
  .md-m-45px-b {
    margin-bottom: 45px;
  }
  .md-m-50px-b {
    margin-bottom: 50px;
  }
  .md-m-55px-b {
    margin-bottom: 55px;
  }
  .md-m-60px-b {
    margin-bottom: 60px;
  }
  .md-m-65px-b {
    margin-bottom: 65px;
  }
  .md-m-70px-b {
    margin-bottom: 70px;
  }
  .md-m-75px-b {
    margin-bottom: 75px;
  }
  .md-m-80px-b {
    margin-bottom: 80px;
  }
  .md-m-85px-b {
    margin-bottom: 85px;
  }
  .md-m-90px-b {
    margin-bottom: 90px;
  }
  .md-m-95px-b {
    margin-bottom: 95px;
  }
  .md-m-100px-b {
    margin-bottom: 100px;
  }
  /*Margin Left*/
  .md-m-0px-l {
    margin-left: 0px;
  }
  .md-m-5px-l {
    margin-left: 5px;
  }
  .md-m-10px-l {
    margin-left: 10px;
  }
  .md-m-15px-l {
    margin-left: 15px;
  }
  .md-m-20px-l {
    margin-left: 20px;
  }
  .md-m-25px-l {
    margin-left: 25px;
  }
  .md-m-30px-l {
    margin-left: 30px;
  }
  .md-m-35px-l {
    margin-left: 35px;
  }
  .md-m-40px-l {
    margin-left: 40px;
  }
  .md-m-45px-l {
    margin-left: 45px;
  }
  .md-m-50px-l {
    margin-left: 50px;
  }
  .md-m-55px-l {
    margin-left: 55px;
  }
  .md-m-60px-l {
    margin-left: 60px;
  }
  .md-m-65px-l {
    margin-left: 65px;
  }
  .md-m-70px-l {
    margin-left: 70px;
  }
  .md-m-75px-l {
    margin-left: 75px;
  }
  .md-m-80px-l {
    margin-left: 80px;
  }
  .md-m-85px-l {
    margin-left: 85px;
  }
  .md-m-90px-l {
    margin-left: 90px;
  }
  .md-m-95px-l {
    margin-left: 95px;
  }
  .md-m-100px-l {
    margin-left: 100px;
  }
  /*Margin right*/
  .md-m-0px-r {
    margin-right: 0px;
  }
  .md-m-5px-r {
    margin-right: 5px;
  }
  .md-m-10px-r {
    margin-right: 10px;
  }
  .md-m-15px-r {
    margin-right: 15px;
  }
  .md-m-20px-r {
    margin-right: 20px;
  }
  .md-m-25px-r {
    margin-right: 25px;
  }
  .md-m-30px-r {
    margin-right: 30px;
  }
  .md-m-35px-r {
    margin-right: 35px;
  }
  .md-m-40px-r {
    margin-right: 40px;
  }
  .md-m-45px-r {
    margin-right: 45px;
  }
  .md-m-50px-r {
    margin-right: 50px;
  }
  .md-m-55px-r {
    margin-right: 55px;
  }
  .md-m-60px-r {
    margin-right: 60px;
  }
  .md-m-65px-r {
    margin-right: 65px;
  }
  .md-m-70px-r {
    margin-right: 70px;
  }
  .md-m-75px-r {
    margin-right: 75px;
  }
  .md-m-80px-r {
    margin-right: 80px;
  }
  .md-m-85px-r {
    margin-right: 85px;
  }
  .md-m-90px-r {
    margin-right: 90px;
  }
  .md-m-95px-r {
    margin-right: 95px;
  }
  .md-m-100px-r {
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  /*Margin All*/
  .sm-m-0px {
    margin: 0;
  }
  .sm-m-5px {
    margin: 5px;
  }
  .sm-m-10px {
    margin: 10px;
  }
  .sm-m-15px {
    margin: 15px;
  }
  .sm-m-20px {
    margin: 20px;
  }
  .sm-m-25px {
    margin: 25px;
  }
  .sm-m-30px {
    margin: 30px;
  }
  .sm-m-35px {
    margin: 35px;
  }
  .sm-m-40px {
    margin: 40px;
  }
  .sm-m-45px {
    margin: 45px;
  }
  .sm-m-50px {
    margin: 50px;
  }
  .sm-m-55px {
    margin: 55px;
  }
  .sm-m-60px {
    margin: 60px;
  }
  .sm-m-65px {
    margin: 65px;
  }
  .sm-m-70px {
    margin: 70px;
  }
  .sm-m-75px {
    margin: 75px;
  }
  .sm-m-80px {
    margin: 80px;
  }
  .sm-m-85px {
    margin: 85px;
  }
  .sm-m-90px {
    margin: 90px;
  }
  .sm-m-95px {
    margin: 95px;
  }
  .sm-m-100px {
    margin: 100px;
  }
  /*Margin top buttom*/
  .sm-m-0px-tb {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sm-m-5px-tb {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .sm-m-10px-tb {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sm-m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .sm-m-20px-tb {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sm-m-25px-tb {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .sm-m-30px-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sm-m-35px-tb {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .sm-m-40px-tb {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .sm-m-45px-tb {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .sm-m-50px-tb {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sm-m-55px-tb {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .sm-m-60px-tb {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .sm-m-65px-tb {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .sm-m-70px-tb {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .sm-m-75px-tb {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .sm-m-80px-tb {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .sm-m-85px-tb {
    margin-top: 85px;
    margin-bottom: 85px;
  }
  .sm-m-90px-tb {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .sm-m-95px-tb {
    margin-top: 95px;
    margin-bottom: 95px;
  }
  .sm-m-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  /*Margin left right*/
  .sm-m-0px-lr {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sm-m-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
  }
  .sm-m-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
  }
  .sm-m-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
  }
  .sm-m-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .sm-m-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
  }
  .sm-m-30px-lr {
    margin-left: 30px;
    margin-right: 30px;
  }
  .sm-m-35px-lr {
    margin-left: 35px;
    margin-right: 35px;
  }
  .sm-m-40px-lr {
    margin-left: 40px;
    margin-right: 40px;
  }
  .sm-m-45px-lr {
    margin-left: 45px;
    margin-right: 45px;
  }
  .sm-m-50px-lr {
    margin-left: 50px;
    margin-right: 50px;
  }
  .sm-m-55px-lr {
    margin-left: 55px;
    margin-right: 55px;
  }
  .sm-m-60px-lr {
    margin-left: 60px;
    margin-right: 60px;
  }
  .sm-m-65px-lr {
    margin-left: 65px;
    margin-right: 65px;
  }
  .sm-m-70px-lr {
    margin-left: 70px;
    margin-right: 70px;
  }
  .sm-m-75px-lr {
    margin-left: 75px;
    margin-right: 75px;
  }
  .sm-m-80px-lr {
    margin-left: 80px;
    margin-right: 80px;
  }
  .sm-m-85px-lr {
    margin-left: 85px;
    margin-right: 85px;
  }
  .sm-m-90px-lr {
    margin-left: 90px;
    margin-right: 90px;
  }
  .sm-m-95px-lr {
    margin-left: 95px;
    margin-right: 95px;
  }
  .sm-m-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
  }
  /*Margin top*/
  .sm-m-0px-t {
    margin-top: 0px;
  }
  .sm-m-5px-t {
    margin-top: 5px;
  }
  .sm-m-10px-t {
    margin-top: 10px;
  }
  .sm-m-15px-t {
    margin-top: 15px;
  }
  .sm-m-20px-t {
    margin-top: 20px;
  }
  .sm-m-25px-t {
    margin-top: 25px;
  }
  .sm-m-30px-t {
    margin-top: 30px;
  }
  .sm-m-35px-t {
    margin-top: 35px;
  }
  .sm-m-40px-t {
    margin-top: 40px;
  }
  .sm-m-45px-t {
    margin-top: 45px;
  }
  .sm-m-50px-t {
    margin-top: 50px;
  }
  .sm-m-55px-t {
    margin-top: 55px;
  }
  .sm-m-60px-t {
    margin-top: 60px;
  }
  .sm-m-65px-t {
    margin-top: 65px;
  }
  .sm-m-70px-t {
    margin-top: 70px;
  }
  .sm-m-75px-t {
    margin-top: 75px;
  }
  .sm-m-80px-t {
    margin-top: 80px;
  }
  .sm-m-85px-t {
    margin-top: 85px;
  }
  .sm-m-90px-t {
    margin-top: 90px;
  }
  .sm-m-95px-t {
    margin-top: 95px;
  }
  .sm-m-100px-t {
    margin-top: 100px;
  }
  /*Margin Bottom*/
  .sm-m-0px-b {
    margin-bottom: 0px;
  }
  .sm-m-5px-b {
    margin-bottom: 5px;
  }
  .sm-m-10px-b {
    margin-bottom: 10px;
  }
  .sm-m-15px-b {
    margin-bottom: 15px;
  }
  .sm-m-20px-b {
    margin-bottom: 20px;
  }
  .sm-m-25px-b {
    margin-bottom: 25px;
  }
  .sm-m-30px-b {
    margin-bottom: 30px;
  }
  .sm-m-35px-b {
    margin-bottom: 35px;
  }
  .sm-m-40px-b {
    margin-bottom: 40px;
  }
  .sm-m-45px-b {
    margin-bottom: 45px;
  }
  .sm-m-50px-b {
    margin-bottom: 50px;
  }
  .sm-m-55px-b {
    margin-bottom: 55px;
  }
  .sm-m-60px-b {
    margin-bottom: 60px;
  }
  .sm-m-65px-b {
    margin-bottom: 65px;
  }
  .sm-m-70px-b {
    margin-bottom: 70px;
  }
  .sm-m-75px-b {
    margin-bottom: 75px;
  }
  .sm-m-80px-b {
    margin-bottom: 80px;
  }
  .sm-m-85px-b {
    margin-bottom: 85px;
  }
  .sm-m-90px-b {
    margin-bottom: 90px;
  }
  .sm-m-95px-b {
    margin-bottom: 95px;
  }
  .sm-m-100px-b {
    margin-bottom: 100px;
  }
  /*Margin Left*/
  .sm-m-0px-l {
    margin-left: 0px;
  }
  .sm-m-5px-l {
    margin-left: 5px;
  }
  .sm-m-10px-l {
    margin-left: 10px;
  }
  .sm-m-15px-l {
    margin-left: 15px;
  }
  .sm-m-20px-l {
    margin-left: 20px;
  }
  .sm-m-25px-l {
    margin-left: 25px;
  }
  .sm-m-30px-l {
    margin-left: 30px;
  }
  .sm-m-35px-l {
    margin-left: 35px;
  }
  .sm-m-40px-l {
    margin-left: 40px;
  }
  .sm-m-45px-l {
    margin-left: 45px;
  }
  .sm-m-50px-l {
    margin-left: 50px;
  }
  .sm-m-55px-l {
    margin-left: 55px;
  }
  .sm-m-60px-l {
    margin-left: 60px;
  }
  .sm-m-65px-l {
    margin-left: 65px;
  }
  .sm-m-70px-l {
    margin-left: 70px;
  }
  .sm-m-75px-l {
    margin-left: 75px;
  }
  .sm-m-80px-l {
    margin-left: 80px;
  }
  .sm-m-85px-l {
    margin-left: 85px;
  }
  .sm-m-90px-l {
    margin-left: 90px;
  }
  .sm-m-95px-l {
    margin-left: 95px;
  }
  .sm-m-100px-l {
    margin-left: 100px;
  }
  /*Margin right*/
  .sm-m-0px-r {
    margin-right: 0px;
  }
  .sm-m-5px-r {
    margin-right: 5px;
  }
  .sm-m-10px-r {
    margin-right: 10px;
  }
  .sm-m-15px-r {
    margin-right: 15px;
  }
  .sm-m-20px-r {
    margin-right: 20px;
  }
  .sm-m-25px-r {
    margin-right: 25px;
  }
  .sm-m-30px-r {
    margin-right: 30px;
  }
  .sm-m-35px-r {
    margin-right: 35px;
  }
  .sm-m-40px-r {
    margin-right: 40px;
  }
  .sm-m-45px-r {
    margin-right: 45px;
  }
  .sm-m-50px-r {
    margin-right: 50px;
  }
  .sm-m-55px-r {
    margin-right: 55px;
  }
  .sm-m-60px-r {
    margin-right: 60px;
  }
  .sm-m-65px-r {
    margin-right: 65px;
  }
  .sm-m-70px-r {
    margin-right: 70px;
  }
  .sm-m-75px-r {
    margin-right: 75px;
  }
  .sm-m-80px-r {
    margin-right: 80px;
  }
  .sm-m-85px-r {
    margin-right: 85px;
  }
  .sm-m-90px-r {
    margin-right: 90px;
  }
  .sm-m-95px-r {
    margin-right: 95px;
  }
  .sm-m-100px-r {
    margin-right: 100px;
  }
}
