.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.loader {
  position: absolute;
  width: 5vh;
  height: 5vh;
  top: 50%;
  left: 50%;
  margin-top: -10vh;
  margin-left: -10vh;
  -webkit-perspective: 60vh;
  perspective: 60vh;
  z-index: 999;
}
.loader:before,
.loader:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loader:before {
  left: -13.333333333333334vh;
  @extend .gredient-bg;
  -webkit-transform: translateZ(0vh);
  transform: translateZ(0vh);
  z-index: 1;
  -webkit-animation: rotation1 2.5s ease-out infinite;
  animation: rotation1 2.5s ease-out infinite;
}
.loader:after {
  right: -13.333333333333334vh;

  @extend .gredient-bg-hover;
  -webkit-transform: translateZ(0vh);
  transform: translateZ(0vh);
  z-index: 1;
  -webkit-animation: rotation2 2.5s ease-out infinite;
  animation: rotation2 2.5s ease-out infinite;
}
@-webkit-keyframes rotation1 {
  25% {
    left: 0;
    -webkit-transform: translateZ(-10vh);
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    -webkit-transform: translateZ(0vh);
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    -webkit-transform: translateZ(20vh);
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@keyframes rotation1 {
  25% {
    left: 0;
    -webkit-transform: translateZ(-10vh);
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    -webkit-transform: translateZ(0vh);
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    -webkit-transform: translateZ(20vh);
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@-webkit-keyframes rotation2 {
  25% {
    right: 0;
    -webkit-transform: translateZ(20vh);
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    -webkit-transform: translateZ(0vh);
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    -webkit-transform: translateZ(-10vh);
    transform: translateZ(-10vh);
  }
}
@keyframes rotation2 {
  25% {
    right: 0;
    -webkit-transform: translateZ(20vh);
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    -webkit-transform: translateZ(0vh);
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    -webkit-transform: translateZ(-10vh);
    transform: translateZ(-10vh);
  }
}
