.single-pricing {
  background: $white_color;
  overflow: hidden;
  position: relative;
  &:before {
    @include transition(0.3s);
    content: "";
    width: 100%;
    height: 0px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    @extend .gredient-bg;
  }
  &:hover:before {
    bottom: 0;
    height: 100%;
    z-index: 0;
  }
  &:hover .pricing-body li {
    color: $white_color;
  }
  .pricing-footer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    text-align: center;
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
}

.featured-pricing {
  &:before {
    height: 100%;
  }
  .pricing-body li {
    color: $white_color;
  }
}

.pricing-body {
  z-index: 1;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    @include transition(0.3s);
  }
}

.pricing-head {
  position: relative;
  height: 250px;
}

.pricing-head-text {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: $white_color;
  .package-price {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $white_color;
    .price {
      font-size: 48px;
      line-height: auto;
    }
  }
  .package-name h5 {
    font-size: 20px;
    color: $white_color;
    margin-bottom: 25px;
    font-weight: 600;
  }
}

.pricing-head .wave {
  @extend .gredient-bg;
  @include border-radius(43%);
  @include filter(opacity(0.8));
  @include animation(drift linear infinite);
  @include transform-origin(50% 48%);
  position: absolute;
  top: -250px;
  left: -50px;
  width: 475px;
  height: 475px;
}

.pricing-head .wave:nth-of-type(1) {
  @include animation-duration(5s);
}

.pricing-head .wave:nth-of-type(2) {
  @include animation-duration(7s);
}

.pricing-head .wave:nth-of-type(3) {
  @include animation-duration(9s);
  @extend .gredient-bg;
}
