.gredient-bg,
.btn-filled,
.btn-default:hover,
.circle,
.loader:before,
.hero-area,
.bordered-circle,
.bordered-circle2,
.bordered-box,
.filled-circle,
.testimonials,
.screenshot-swiper .swiper-button-prev:hover,
.screenshot-swiper .swiper-container-rtl .swiper-button-next:hover,
.screenshot-swiper .swiper-button-next:hover,
.screenshot-swiper .swiper-container-rtl .swiper-button-prev:hover,
.swiper-pagination-bullet-active,
.single-pricing:before,
.pricing-head .wave,
.pricing-head .wave:nth-of-type(3),
.featured-2,
.read-more,
.social-network .social-icon:hover,
#page-header,
.blog-tag a,
.app-pagenation .page-item.active .page-link,
.single-widget ul.tags-cloud li a:hover,
a.comment-reply-link:hover {
  background: -webkit-linear-gradient(to right bottom, #141e30, #243b55);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #141e30, #243b55);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #141e30, #243b55);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #141e30 40%, #243b55 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#141E30, end-colorstr=#243B55);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#141E30, end-colorstr=#243B55)";
  /* IE8 */
  background: linear-gradient(to right bottom, #141e30 40%, #243b55 70%);
  /* W3C */
  background-color: #243b55;
}

.gredient-bg-hover,
.animated-btn:before,
.loader:after,
.read-more:hover,
.read-more:before {
  background: -webkit-linear-gradient(to right bottom, #243b55, #141e30);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #243b55, #141e30);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #243b55, #141e30);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #243b55 40%, #141e30 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#243B55, end-colorstr=#141E30);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#243B55, end-colorstr=#141E30)";
  /* IE8 */
  background: linear-gradient(to right bottom, #243b55 40%, #141e30 70%);
  /* W3C */
  background-color: #141e30;
}

.gredient-color,
.service-box:hover i,
.how-it-box:hover i,
.address-box:hover i,
.single-feature:hover i,
.how_works_arrow,
.how-it-box i,
.address-box i,
.single-feature:hover h4 {
  background: -webkit-linear-gradient(to right bottom, #141e30, #243b55);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #141e30, #243b55);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #141e30, #243b55);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #141e30 40%, #243b55 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#141E30, end-colorstr=#243B55);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#141E30, end-colorstr=#243B55)";
  /* IE8 */
  background: linear-gradient(to right bottom, #141e30 40%, #243b55 70%);
  /* W3C */
  -webkit-background-clip: text;
  background-clip: text;
  /* Firefox 4.0, IE9+, Opera 10.5+, Chrome, Safari 3.0+ */
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  /* Firefox 4.0, IE9+, Opera 10.5+, Chrome, Safari 3.0+ */
  color: #243b55;
}

.border-color {
  background: -webkit-linear-gradient(to right bottom, #141e30, #243b55);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #141e30, #243b55);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #141e30, #243b55);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #141e30 40%, #243b55 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#141E30, end-colorstr=#243B55);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#141E30, end-colorstr=#243B55)";
  /* IE8 */
  background: linear-gradient(to right bottom, #141e30 40%, #243b55 70%);
  /* W3C */
  background-color: #243b55;
}

.dark-purple-color,
#testimonials .rotate-heading h2,
.single-blog h2:hover,
.page-content h2:hover,
.post-comments h2:hover,
.post-meta ul li a:hover,
.single-widget ul a:hover {
  color: #243b55;
}

.medium-purple-color {
  color: #141e30;
}

.border-color {
  color: #dfdfdf;
}

.dark-purple,
.header-nav .navbar-nav > li .sub-menu li > a:hover,
.header-nav.fixed-header {
  background: #243b55;
}

.medium-purple {
  background: #141e30;
}

.primary_color,
body,
.post-meta ul li a {
  color: #858585;
}

.heading_color,
h1,
h2,
h3,
h4,
h5,
h6,
.btn-default,
.screenshot-swiper .swiper-button-prev,
.screenshot-swiper .swiper-container-rtl .swiper-button-next,
.screenshot-swiper .swiper-button-next,
.screenshot-swiper .swiper-container-rtl .swiper-button-prev,
.blog-content h2,
.blog-content .blog-meta,
.single-blog-post {
  color: #151515;
}
.btn-default.btn-filled {
  color: #fff;
}
.primary-border-color,
.screenshot-swiper .swiper-button-prev,
.screenshot-swiper .swiper-container-rtl .swiper-button-next,
.screenshot-swiper .swiper-button-next,
.screenshot-swiper .swiper-container-rtl .swiper-button-prev,
.contact-form input:focus,
.contact-form textarea:focus,
.single-widget h3,
.single-widget .form-control:focus {
  border-color: #243b55 !important;
}

.body_font,
body {
  font-family: "Quicksand", sans-serif;
}

.heading_font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.gray-bg,
.contact-address,
.contact-form {
  background-color: #f1f1f1;
}
