.gredient-bg,
.btn-filled,
.btn-default:hover,
.loader:before,
.hero-area,
.bordered-circle,
.bordered-circle2,
.bordered-box,
.filled-circle,
.testimonials,
.screenshot-swiper .swiper-button-prev:hover,
.screenshot-swiper .swiper-container-rtl .swiper-button-next:hover,
.screenshot-swiper .swiper-button-next:hover,
.screenshot-swiper .swiper-container-rtl .swiper-button-prev:hover,
.swiper-pagination-bullet-active,
.single-pricing:before,
.pricing-head .wave,
.pricing-head .wave:nth-of-type(3),
.featured-2,
.read-more,
.social-network .social-icon:hover,
#page-header,
.blog-tag a,
.app-pagenation .page-item.active .page-link,
.single-widget ul.tags-cloud li a:hover,
a.comment-reply-link:hover {
  background: -webkit-linear-gradient(to right bottom, #e91e63, #e91e63);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #e91e63, #e91e63);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #e91e63, #e91e63);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #e91e63 40%, #e91e63 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#E91E63, end-colorstr=#E91E63);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#f46b45, end-colorstr=#eea849)";
  /* IE8 */
  background: linear-gradient(to right bottom, #e91e63 40%, #e91e63 70%);
  /* W3C */
  background-color: #e91e63;
}
.circle {
  background: -webkit-linear-gradient(to right bottom, #c00041, #c00041);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #c00041, #c00041);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #c00041, #c00041);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #c00041 40%, #c00041 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#c00041, end-colorstr=#c00041);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#c00041, end-colorstr=#c00041)";
  /* IE8 */
  background: linear-gradient(to right bottom, #c00041 40%, #c00041 70%);
  /* W3C */
  background-color: #c00041;
}
.gredient-bg-hover,
.animated-btn:before,
.loader:after,
.read-more:hover,
.read-more:before {
  background: -webkit-linear-gradient(to right bottom, #c00041, #c00041);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #c00041, #c00041);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #c00041, #c00041);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #c00041 40%, #c00041 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#c00041, end-colorstr=#c00041);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#eea849, end-colorstr=#f46b45)";
  /* IE8 */
  background: linear-gradient(to right bottom, #c00041 40%, #c00041 70%);
  /* W3C */
  background-color: #c00041;
}

.gredient-color,
.service-box:hover i,
.how-it-box:hover i,
.address-box:hover i,
.single-feature:hover i,
.how_works_arrow,
.how-it-box i,
.address-box i,
.single-feature:hover h4 {
  background: -webkit-linear-gradient(to right bottom, #c00041, #c00041);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #c00041, #c00041);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #c00041, #c00041);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #c00041 40%, #c00041 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#c00041, end-colorstr=#c00041);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#c00041, end-colorstr=#c00041)";
  /* IE8 */
  background: linear-gradient(to right bottom, #c00041 40%, #c00041 70%);
  /* W3C */
  -webkit-background-clip: text;
  background-clip: text;
  /* Firefox 4.0, IE9+, Opera 10.5+, Chrome, Safari 3.0+ */
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  /* Firefox 4.0, IE9+, Opera 10.5+, Chrome, Safari 3.0+ */
  color: #c00041;
}

.border-color {
  background: -webkit-linear-gradient(to right bottom, #c00041, #c00041);
  /* Webkit browsers */
  background: -moz-linear-gradient(to right bottom, #c00041, #c00041);
  /* Firefox(old) */
  background: -o-linear-gradient(to right bottom, #c00041, #c00041);
  /* Opera(old) */
  background: -ms-linear-gradient(to right bottom, #c00041 40%, #c00041 70%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#c00041, end-colorstr=#c00041);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#c00041, end-colorstr=#c00041)";
  /* IE8 */
  background: linear-gradient(to right bottom, #c00041 40%, #c00041 70%);
  /* W3C */
  background-color: #c00041;
}

.dark-purple-color,
#testimonials .rotate-heading h2,
.single-blog h2:hover,
.page-content h2:hover,
.post-comments h2:hover,
.post-meta ul li a:hover,
.single-widget ul a:hover {
  color: #c00041;
}

.medium-purple-color {
  color: #e91e63;
}

.border-color {
  color: #dfdfdf;
}

.dark-purple,
.header-nav .navbar-nav > li .sub-menu li > a:hover,
.header-nav.fixed-header {
  background: #c00041;
}

.medium-purple {
  background: #e91e63;
}

.primary_color,
body,
.post-meta ul li a {
  color: #858585;
}

.heading_color,
h1,
h2,
h3,
h4,
h5,
h6,
.btn-default,
.screenshot-swiper .swiper-button-prev,
.screenshot-swiper .swiper-container-rtl .swiper-button-next,
.screenshot-swiper .swiper-button-next,
.screenshot-swiper .swiper-container-rtl .swiper-button-prev,
.blog-content h2,
.blog-content .blog-meta,
.single-blog-post {
  color: #151515;
}
.btn-default.btn-filled {
  color: #fff;
}
.primary-border-color,
.screenshot-swiper .swiper-button-prev,
.screenshot-swiper .swiper-container-rtl .swiper-button-next,
.screenshot-swiper .swiper-button-next,
.screenshot-swiper .swiper-container-rtl .swiper-button-prev,
.contact-form input:focus,
.contact-form textarea:focus,
.single-widget h3,
.single-widget .form-control:focus {
  border-color: #c00041 !important;
}
.gray-bg,
.contact-address,
.contact-form {
  background-color: #f1f1f1;
}
