/*  ----------------------------------------------------
1. IMPORT GOOGLE FONTS
-------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i");

.body_font,
body {
  font-family: "PT Serif", serif;
}

.heading_font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}
