/*  ----------------------------------------------------
1. IMPORT GOOGLE FONTS
-------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");

.body_font,
body {
  font-family: "Roboto", sans-serif;
}

.heading_font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
}
